/node_modules
/public/hot

bootstrap

public
storage
vendor
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.composer.json.
.composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
